---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Services from "../components/Services.astro";
import TextBanner from "../components/TextBanner.astro";
import Timetable from "../components/Timetable.astro";
import Prices from "../components/Prices.astro";
import Blog from "../components/Blog.astro";

const clinicName = "AstroFisio";
---

<Layout title={clinicName}>
  <Header clinicName={clinicName} />
  <main>
    <Hero />
    <Services clinicName={clinicName} />
    <Prices />
    <Timetable />
    <TextBanner />
    <Blog />
  </main>
  <Footer />
</Layout>

<style></style>
