<section class="text-white w-full">
  <div class="relative">
    <img
      src="/img/hero.webp"
      alt="hero"
      class="w-full h-[60vh] md:h-[70vh] lg:h-[80vh] object-cover aspect-[20/9] z-10 relative"
    />
    <div class="absolute inset-0 bg-black opacity-35 z-10"></div>
    <article class="absolute inset-0 flex justify-center items-center z-10">
      <div class="max-w-2xl flex flex-col justify-center items-center p-4">
        <h3
          class="uppercase text-3xl md:text-5xl font-black pt-8 opacity-85 animate-slidein"
        >
          Clínica de Fisioterapia
        </h3>
        <p class="text-lg md:text-2xl pt-6 opacity-85 animate-slidein">
          Mejora tu bienestar y calidad de vida con nuestros tratamientos
          personalizados. Nuestro equipo de profesionales está aquí para
          ayudarte a recuperar tu movilidad y salud.
        </p>
      </div>
    </article>
  </div>
</section>
