---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Dancing";
    src: url("/fonts/DancingScript-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  html {
    font-family: "Poppins", sans-serif;
    background: white;
    /* scroll-behavior: smooth; */
  }

  ::selection {
    color: white;
    background: #85a4e3;
  }
</style>
